@import "./core/fonts";
@import "./core/variables";
@import "./components/index";

/*Main Styles*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}
button {
  background: transparent;
  border: none;
}
body {
  background: $bgColor;
  font-family: $mainFont;
  font-weight: $mainWeight;
  font-size: $mainSize;
  color: #a8b2d1;
}
input {
  outline: none;
}
input::-webkit-input-placeholder {
  font-family: 'Courier New', Courier, monospace;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
    padding: 10px 90px;
    background-color: $mainColor;
    position: fixed ;
    border-radius: 8px;
    border: 1px solid #000000;
    top: 20px;
    z-index: 2;
    color: #000000;
    font-size:25px;
  }
  &__search {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px 10px;
    font-size: 25px;
    background-color: #f4f4f6;
    border-radius: 10px;
    
  }
  &__input {
    outline: none;
    border: none;
    background-color: inherit;
    width: 400px;
  }
  &__search-icon{
    cursor: pointer;
  }
  &__example{
    font-size: 13px;
    color: red;
    font-family: 'Courier New', Courier, monospace;
  }
}
.leaflet-container{
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.popup{
  &__wrapper{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    font-size: 15px;
  }
  &__text{
    color:#2F70AF;
  }
  &__header{
    font-size:20px;
    margin-bottom: 5px;
    text-align: center;
    color:#2F70AF;
  }
  &__image{
    margin-bottom: 11px;
  }
  &__rating{
    margin-bottom: 10px;
    color: #B9848C;
    font-size:22px;
  }
  &__adress{
    margin-bottom: 15px;
  }
  &__description{
    font-size: 15px;
  }
}
