@import "./core/fonts";
@import "./core/variables";
@import "./components/index";

/*Main Styles*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}
button {
  background: transparent;
  border: none;
}
body {
  background: $bgColor;
  font-family: $mainFont;
  font-weight: $mainWeight;
  font-size: $mainSize;
  color: #a8b2d1;
}
input {
  outline: none;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
    padding: 10px 50px;
    background-color: $mainColor;
    position:fixed ;
    border-radius: 8px;
    border: 1px solid #000000;
    top: 20px;
    z-index: 2;
    color: #000000;
    font-size:30px;
  }
  &__search {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px 10px;
    font-size: 17px;
    background-color: #f4f4f6;
    border-radius: 10px;
  }
  &__input {
    outline: none;
    border: none;
    background-color: inherit;
  }
  &__search-icon{
    cursor: pointer;
  }
}
.leaflet-container{
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}
