.wrapper{
	display: flex;
	flex-direction: column;
	&__active .object{
		height: 0;
		opacity: 0;
		padding: 0;
		overflow: hidden;
	}
	&__active .hotel{
		height: auto;
		opacity: 1;
		padding: 10px;
		overflow: hidden;
	}
}
.object {
	padding: 10px;
	border: 1px solid #02315e;
	cursor: pointer;
	transition: 0.5s linear all;
	height: auto;
	opacity:1;
	overflow: hidden;
}
.hotel{
	border: 1px solid #02315e;
	cursor: pointer;
	transition: 0.5s linear all;
	height: 0px;
	opacity: 0;
	overflow: hidden;
	&__wrapper{
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&__top{
		display: flex;
		gap: 10px;
		justify-content: space-between;
	}
	&__imagecontainer{
		width: 250px;
		height: 250px;	
	}
	&__image{
		width: 250px ; 
		height: 250px ;
		margin-bottom: 10px;
	}
	&__info{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		text-align: center;
	}
	&__name{
		font-size: 25px;
		color: #b9848c;
	}
	&__country{
		width: 100%;
		font-size: 17px;
	}
	&__city{
		width: 100%;
		font-size: 17px;
		margin-bottom: 20px;
	}
	&__rating{
		color: #02315e;
		font-size: 30px;
	}
	&__buttons{
		display: flex;
		justify-content: space-evenly;
	}
	&__closebutton{
		align-self: flex-start;
		font-size: 20px;
		color: red;
		padding: 2px 5px;
		cursor: pointer;
	}
}