.button__container {
	color: #ffffff;
	display: flex;
	align-items: center;
}

.button {
	cursor: pointer;
	&__flyto {
		background-color: #338dc6;
		padding: 10px 20px;
		border-radius: 8px;
		font-size: 15px;
		color: #000 !important;
		width:150px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		@media (max-width: 800px){
			width: 100px;
			padding: 5px 10px;
		}
	}
	&__removecard {
		background-color: #b9848c;
		padding: 2px 10px;
		border-radius: 8px;
		font-size: 15px;
		width:150px;
		display: flex;
		align-items:center;
		justify-content: space-evenly;
		@media (max-width: 800px){
			width: 100px;
			padding: 5px 10px;
		}
	}
	&__addcard {
		background-color: #3DE361;
		padding: 2px 5px;
		border-radius: 8px;
		font-size: 15px;	
		display: flex;
		width:150px;
		align-items: center;
		justify-content: space-evenly;
		@media (max-width: 800px){
			width: 100px;
			padding: 5px 10px;
		}
	}
	&__resetfilters{
		background-color: #fff;
		padding: 6px 12px;
		border-radius: 8px;
		font-size:17px;	
		font-weight: 200;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		box-shadow: -2px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
		border: 1px solid #b9848c;
		color: #999;
		transition: 0.2s ease-in all;
		&:hover{
			color: #b9848c; 
		}
		@media (max-width: 1200px) {
			font-size: 15px;
			padding: 5px 10px;
		}
		@media (max-width: 800px){
			display: none;
		}
	}
	&__inner{
		color: #000;
	}
}

.addcard__icon{
	font-size: 35px;
	font-weight: 300;
	color: #000;
	display: flex;
}

.flyto__images{
	width: 40px;
	height: 40px;
}

// .resetfilters__inner{
// 	color: #999;
// }