.aside {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__container{
      display: flex;
      gap: 20px;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      gap: 9px;
      width: 30vw;
      height: 75%;
      background-color: $mainColor;
      position: fixed;
      border: 1px solid #000000;
      left: 20px;
      top: 20%;
      z-index: 2;
      color: #000000;
      font-size: 30px;
      border-radius: 5px;
    }
    &__buttons{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
    &__tool{
      position: fixed;
      z-index: 2;
      width: 30px;
      height: 60px;
    }
  }

.triangle {
  border-left: solid 30px rgb(200,30,50);
  border-bottom: solid 30px transparent;
  border-top: solid 30px transparent;
  position: relative;
  z-index: 2;
}