.header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 9px;
      padding: 10px 90px;
      background-color: #ffffff;
      position: fixed ;
      border-radius: 8px;
      border: 1px solid #B9848C;
      top: 20px;
      z-index: 2;
      color: #B9848C;
      font-size:25px;
    }
    &__search {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 20px 10px;
      font-size: 25px;
      background-color: #f4f4f6;
      border-radius: 10px;
      
    }
    &__input {
      outline: none;
      border: none;
      background-color: inherit;
      width: 400px;
    }
    &__search-icon{
      cursor: pointer;
    }
    &__example{
      font-size: 13px;
      color: red;
      font-family: 'Courier New', Courier, monospace;
    }
  }